workflows/gmail-ai-notes.json
{
  "name": "AI Notes - Gmail to Action Items",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "from": "transcripts@tactiq.io, no-reply@fathom.video, noreply@bluedot.ai"
        }
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "content": "={{ $json.textPlain }}",
        "options": {}
      },
      "name": "Extract Email Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-pro:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{parts: [{text: 'Extract action items from: ' + $json.content}]}] }}"
            }
          ]
        }
      },
      "name": "Gemini API - Extract Actions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "taskListId": "YOUR_TASK_LIST_ID",
        "title": "={{ $json.action }}"
      },
      "name": "Create Google Task",
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Content": {
      "main": [
        [
          {
            "node": "Gemini API - Extract Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API - Extract Actions": {
      "main": [
        [
          {
            "node": "Create Google Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "1"
}
