scripts/workflows/examples/ai-workflow.json
{"name":"AI Text Processing - Gemini + MCP Integration","nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[250,300]},{"parameters":{"resource":"text","operation":"extract","textInput":"{{$json.input}}"},"name":"Process Input","type":"n8n-nodes-base.code","typeVersion":1,"position":[450,300]},{"parameters":{"model":"gemini-pro","prompt":"Analyze the following text and provide insights:\n{{$node[\"Process Input\"].json.output}}"},"name":"Gemini API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[650,300]},{"parameters":{"assignments":{"result":{"type":"simple","value":"{{$node[\"Gemini API\"].json}}"},"status":{"type":"simple","value":"processed"}}},"name":"Format Output","type":"n8n-nodes-base.set","typeVersion":1,"position":[850,300]}],"connections":{"Start":{"main":[[{"node":"Process Input","type":"main","index":0}]]},"Process Input":{"main":[[{"node":"Gemini API","type":"main","index":0}]]},"Gemini API":{"main":[[{"node":"Format Output","type":"main","index":0}]]}},"active":false,"settings":{}}
