scripts/workflows/examples/scheduled-task.json
{"name":"Scheduled Daily Report","nodes":[{"parameters":{"triggerTimes":{"timezone":"America/New_York","times":[{"hour":9,"minute":0}]}},"name":"Every Weekday","type":"n8n-nodes-base.cron","typeVersion":1,"position":[250,300]},{"parameters":{"format":"YYYY-MM-DD HH:mm:ss"},"name":"Timestamp","type":"n8n-nodes-base.set","typeVersion":1,"position":[450,300]},{"parameters":{"url":"https://api.example.com/reports","method":"POST","sendQuery":false,"bodyType":"json","body":{"timestamp":"{{$node[\"Timestamp\"].json.timestamp}}","status":"daily_run"}},"name":"Send Report","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[650,300]}],"connections":{"Every Weekday":{"main":[[{"node":"Timestamp","type":"main","index":0}]]},"Timestamp":{"main":[[{"node":"Send Report","type":"main","index":0}]]}},"active":false}
